  <h1>Echoppe Master</h1>

  <h3>Create your shopping list</h3>
<form method="post" action="/create">
    <div class="toggle toggle-icon">
      <label class="toggle-radio fui-checkmark-16" for="privOption"></label>
      <input type="radio" name="privOption" id="privOption" value="on" checked="checked">
      <label class="toggle-radio fui-cross-16" for="privOption"></label>
    </div> Make private<br>
    <div class="row">
    <div class="span12">
 <textarea id="slist" name="slist" class="shopping-list" width="100%" lines="10">
 Rillettes
 Lait (x3)
 </textarea><br/>
  </div>
</div>
<div class="row">
  <div class="span3">
    <input type="submit" class="btn btn-large btn-block btn-primary" value="Create Shopping list">
  </div>
</div>
</form>
