
<div class="row"><span class="span8">
<div class="well ptl pbl">
  <h1>Share &amp; Shop</h1>
  <h2>Let your shopping list jump from your computer to your iPhone !</h2>
  <ul>
    <li>Write your shopping lists quickly and send them to your iPhone.</li>
    <li>Share them with your friends.</li>
    <li>Update them in realtime.</li>
    <li>Never forget the butter again.</li>
  </ul>
</div></span>

<span class="span4">
  <div class="well mbl palette palette-amethyst"><h1>Step 1</h1>
    Create a list <a href="/create">here</a>
  </div>
  <div class="well mbl palette palette-carrot"><h1>Step 2</h1>
    Grab its identifier, or scan the QR-Code using the App (soon in the AppStore)
  </div>
  <div class="well palette palette-alizarin"><h1>Step 3</h1>
    Go shopping and check each item when in basket
  </div>
</span>

</div>