  <h1>The Shopping Master</h1>

  <h1>Create your shopping list</h1>
    <div class="toggle toggle-icon">
      <label class="toggle-radio fui-checkmark-16" for="privOption"></label>
      <input type="radio" name="privOption" id="privOption" value="on" checked="checked">
      <label class="toggle-radio fui-cross-16" for="privOption"></label>
    </div> Make private<br>
    <div class="row">
    <div class="span12">
    <textarea width="100%" lines="10">Rillettes
      Lait (x3)
      </textarea><br/>
  </div>
</div>
<div class="row">
  <div class="span3">
    <a href="#" class="btn btn-large btn-block btn-primary">Create Shopping list</a>
  </div>
</div>
