@import 'flat-ui';
@import 'footer';

body {
	margin-top: 3px;
}

.navbar {
	.brand {
		margin-left: 10px;
	}
	.nav {
		left: 50px;
	}
}

.amp {
	color: #0076e4;
}

.nav .active a.brand {
	color: white;
}

.logo {
	top: 0px;
	left: 0px;
	height: 64px;
	background-image: url(/images/logo_64.png);
	background-repeat: no-repeat;
	padding-left: 64px;
	background-size: 64px 64px;

	a.brand {
		color: #333333;
		font-size: 50px;
		font-weight: bold;
		text-decoration: none;
	}
}

.container {
	position: relative;
}

textarea.shopping-list {
  width: 100%;
  height: 10em;
}

@media screen and (max-width: 950px) {
  .row {
    margin-left: 0px;
  }
  .navbar {
    margin-bottom: 3px;
  }
  .navbar-inner {
    border-radius: 0px;
  }
  .container {
    width: 100%;
  }
  .well {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  ul {
    margin-bottom: 3px;
  }
  .mbl, .page-header {
    margin-bottom: 0px;
  }
  .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
  .footer, .page-header, h1 {
    margin-top: 0px;
  }
  .page-header {
    margin-left: 10px;
  }
  h1 small {
    display: block;
  }
}
